.header {
    background-color: #3c9fc3;
    color: white;
}

h1.header {
    font-size: 9vw;
}

h2, h3, h4 {
    color: #7bd5d5;
}

form.register {
    border: 1px solid #3c9fc3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.img {
    width: 30px;
    height: 30px;
}

.img:hover {
    width: 125px;
    height: 125px;
}